.C0{color:#f2f2f2}.C0bk{background-color:#f2f2f2}.C0fl{fill:#f2f2f2}.C0br{border-color:#f2f2f2}.C0bk_hov:hover{background-color:rgb(242,242,242)}.C0_hov:hover{color:rgb(242,242,242)}.C0fl_hov:hover{fill:rgb(242,242,242)}
.C0bk_grd{background-color:rgb(235,235,235)}.C0_grd{color:rgb(235,235,235)}.C0fl_grd{fill:rgb(235,235,235)}
.C1{color:#f36b21}.C1bk{background-color:#f36b21}.C1fl{fill:#f36b21}.C1br{border-color:#f36b21 !important}.C1bk_hov:hover{background-color:rgb(243,107,33)}.C1_hov:hover{color:rgb(243,107,33)}.C1fl_hov:hover{fill:rgb(243,107,33)}
.C1bk_grd{background-color:rgb(243,107,33)}.C1_grd{color:rgb(243,107,33)}.C1fl_grd{fill:rgb(243,107,33)}
.C2{color:#4d4d4d}.C2bk{background-color:#4d4d4d}.C2fl{fill:#4d4d4d}.C2br{border-color:#4d4d4d}.C2bk_hov:hover{background-color:rgb(77,77,77)}.C2_hov:hover{color:rgb(77,77,77)}.C2fl_hov:hover{fill:rgb(77,77,77)}
.C2bk_grd{background-color:rgb(117,117,117)}.C2_grd{color:rgb(117,117,117)}.C2fl_grd{fill:rgb(117,117,117)}
.C3{color:#131313}.C3bk{background-color:#131313}.C3fl{fill:#131313}.C3br{border-color:#131313}.C3bk_hov:hover{background-color:rgb(19,19,19)}.C3_hov:hover{color:rgb(19,19,19)}.C3fl_hov:hover{fill:rgb(19,19,19)}
.C4{color:#B40A0A !important}.C4bk{background-color:#B40A0A !important}.C4fl{fill:#B40A0A !important}.C4br{border-color:#B40A0A !important}
.C5{color:#4D9B08 !important}.C5bk{background-color:#4D9B08 !important}.C5fl{fill:#4D9B08 !important}.C5br{border-color:#4D9B08 !important}
.C2br_hov:hover{border-color:#4d4d4d}

a,.C1_link{color:#c44f0f;text-decoration:underline;cursor:pointer}
a:hover,.C1_link:hover{color:#f36b21}
.Pag a:hover{color:#eaeaea}
svg .orange,svg .grey_hov{fill:#F36C23}
svg .grey,svg .orange_hov{fill:#4C4C4D}

body{-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
h1,.txt_headline,.pulledquote_right,.pulledquote_left{font-family:"Bold",'Palatino Linotype',Palatino,serif;font-size:32px;line-height:34px;color:#131313;letter-spacing:-.4px}
.pulledquote_right,.pulledquote_left{font-size:28px;line-height:31px}
h2,.txt_subhead{font-family:"BoldItalic",'Palatino Linotype',Palatino,serif;font-size:26px;line-height:29px;color:#0a0a0a;letter-spacing:-.4px}
h3{font-family:"Bold",'Palatino Linotype',Palatino,serif;font-size:20px;line-height:22px;color:#131313}
p,section li,.txt_copytext,.txt_smalltext{font-family:"Regular",serif;font-size:21px;line-height:30px;color:#000}
p.article_caption{font-size:16px;line-height:20px}
p b{color:#222222}
p i{color:#0b0b0b}
p{padding-top:30px}
section ol li,section ul li{padding-top:15px}
h1,h3{padding-top:30px}
.zerotop{padding-top:0}
h2{padding-top:40px}
.txt_smalltext{font-size:15px;line-height:17px}
b{font-family:"Bold",serif;font-weight:normal}
i{font-family:"Italic",serif;padding-right:2px}
.txt_lbl,.txt_tiny{font-family:Helvetica,Arial,sans-serif;font-size:12px;line-height:12px}
.txt_tiny{font-size:10px;line-height:10px}
.MenuS,.MenuM,.MenuL,.merchmenu,.aboutarrowtitle,#copydonationaddress{font-size:11px;line-height:11px;font-family:Helvetica,Arial,sans-serif;letter-spacing:-.3px;text-decoration:none;text-transform:uppercase;font-weight:bold;}
.MenuS a,.MenuM a,.MenuL a{text-decoration:none}
.MenuM,.merchmenu{font-size:13px;line-height:13px}
.MenuL,.aboutarrowtitle{font-size:15px;line-height:15px}


input[type=range]{
    -webkit-appearance: none;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 250px;
    height: 5px;
    background: #ddd;
    border: none;
    border-radius: 3px;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #f36b21;
    margin-top: -4px;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #ccc;
}

input[type=range]{
    /* fix for FF unable to apply focus style bug  */
    border: 1px solid white; 

    /*required for proper track sizing in FF*/
    width: 250px;
}

input[type=range]::-moz-range-track {
    width: 250px;
    height: 5px;
    background: #ddd;
    border: none;
    border-radius: 3px;
}

input[type=range]::-moz-range-thumb {
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #f36b21;
}

/*hide the outline behind the border*/
input[type=range]:-moz-focusring{
    outline: 1px solid white;
    outline-offset: -1px;
}

input[type=range]:focus::-moz-range-track {
    background: #ccc;
}
input[type=range]::-ms-track{
    width: 250px;
    height: 5px;
    background: transparent;
    border-color: transparent;
    border-width: 6px 0;
    color: transparent;
}
input[type=range]::-ms-fill-lower{
    background: #c44f0f;
    border-radius: 10px;
}
input[type=range]::-ms-fill-upper{
    background: #ddd;
    border-radius: 10px;
}
input[type=range]::-ms-thumb{
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #f36b21;
}
input[type=range]:focus::-ms-fill-lower{
    background: #963f10;
}
input[type=range]:focus::-ms-fill-upper{
    background: #ccc;
}


header{border-bottom:1px solid rgba(17,20,37,.6);background-color:#eaeaea}
footer{margin-top:60px;height:165px;background-color:#131313}

#Mast{position:absolute;z-index:6;width:100%;height:36px;top:0}
#MastLogo,#MastLang,#MastMenu,#MastBurger,#MastConnect{position:absolute;z-index:9}
#MastLogo{width:141px;height:12px;left:9px;top:11px;background:transparent url(../../img/monero-outreach/svg/Monero-Outreach-Logo.svg) no-repeat center}
#MastLogo:hover,#FootLogo:hover{opacity:0.5}

#MastArt{position:relative;width:100%;height:100%}

#MastLangSelect, #MastMenuSelect{position:absolute;z-index:9;width:200px;top:30px}
#MastLangSelect{left:150px}
#MastMenuSelect{right:10px}
#MastLangSelect a, #MastMenuSelect div{position:relative;display:block;width:100%;height:30px}

.MastM-L,.MastM-R,.MastM{position:absolute;z-index:4;width:calc(50% - 150px);height:36px;top:0;left:0}
.MastM-L,.MastM-R{background-color:#fff}
.MastM-R{left:50%;margin-left:150px}
.MastM{z-index:3;width:300px;left:50%;margin-left:-150px;fill:#fff}

.MOShadow{-webkit-box-shadow:-2px 3px 10px -1px rgba(17,20,37,0.19);-moz-box-shadow: -2px 3px 10px -1px rgba(17,20,37,0.19);box-shadow: -2px 3px 10px -1px rgba(17,20,37,0.19)}

.BtnSubmit{background-color:#f36b21;color:#f2f2f2;padding:9px 10px;cursor:pointer}
.BtnSubmit:hover{background-color:#4d4d4d}

#MastMenu{width:calc(50% - 59px);height:12px;left:50%;margin-left:23px;top:8px;text-align:right}
#MastMenu span{position:relative;height:100%;white-space:nowrap}
#MastMenu span, #MastMenu span a{color:#4d4d4d}
#MastMenu span a:hover{color:#f36b21}
.MastMenuActive{color:#f36b21;cursor:default}
.MastMenuActive:hover{color:#f36b21}

#MastBurger,#MastConnect,#MastLang{width:32px;height:32px;left:100%;top:2px;padding:8px;box-sizing:border-box}
#MastBurger li svg{width:32px;height:32px;padding:9px;box-sizing:border-box;cursor:pointer}
#MastBurger{z-index:10;margin-left:-68px}
#MastBurger li ul{right:0;margin-right:-9px}
#MastBurger li ul li{text-align:right}
#MastConnect{width:36px;margin-left:-36px}
#MastLang{left:0;margin-left:151px;top:2px}

#MastConnect .Switch{position:absolute;width:22px;height:16px;left:100%;margin-left:-32px;top:9px;padding:1px;box-sizing:border-box}
#MastConnect .Switch svg{width:100%;height:100%;padding:0}

#LeadHeadline h1,#stories__topstory h1,#stories__topstory h2{padding:0;margin:0}
#LeadHeadline h1{font-size:34px;line-height:38px}

#LeadHeadline{position:absolute;max-width:65%;z-index:5;left:0;bottom:-25px;padding:14px 17px 2px 18px;background-color:rgba(250,250,250,0.99);box-sizing:border-box}

#LeadStory{display:none}
#LeadStory h2{padding:0 10% 0 0}

#stories__topstory .middle{padding:5px 0 0 5px}

#PhotoCaption{text-align:right;padding:5px 10px 20px 75%;font-family:Helvetica,Arial,sans-serif;font-size:.75em;line-height:1.1em;letter-spacing:.05em}
#HeadCaption{text-align:right;padding:5px 10px 0 65%;font-family:Helvetica,Arial,sans-serif;font-size:.75em;line-height:1.1em;letter-spacing:.05em}

.StoryOnTwitter .Sprite, .StoryOnReddit .Sprite, .StoryOnInstagram .Sprite{width:22px;height:22px;top:5px;left:5px;background-size:88px 22px;background-image:url(../../img/monero-outreach/svg/footer_sprite_min.svg);}
.StoryOnTwitter div, .StoryOnInstagram div{pointer-events:none}
#MOLicense div.Ico24{position:absolute;width:18px;height:18px;padding:2px}
#MOLicense div.txt_smalltext{padding:4px 0 0 21px}

#FootLeft,#FootRight{position:relative;display:inline-block;width:calc(50% - 80px);left:0;top:45px;height:125px}
#FootLeft{margin-left:10px}
#FootRight{margin-left:135px;text-align:right}
#FootLeft a,#FootRight a{display:block;color:#f2f2f2 !important;margin-top:10px;white-space:nowrap;overflow:hidden}
#FootLeft a:hover,#FootRight a:hover{color:#F36B21 !important}
#FootMain{position:relative;width:130px;left:50%;margin-left:-65px;top:5px}
#FootLogo{position:absolute;width:70px;height:18px;left:50%;margin-left:-35px;margin-top:-35px}

#FootContact{position:relative;margin-top:-50px;text-align:center}
#FootContact .Btn24{padding:2px;margin-left:3px;margin-right:3px}
#FootContact .Sprite{width:20px;height:20px;background-size:80px 20px}
#FootContact .Sprite:hover{opacity:.7}
#FootOfficial{position:absolute;width:40%;left:30%;bottom:6px;text-align:center;opacity:0.95;line-height:12px}


.BreadCrumb{position:relative;margin-left:-25px;padding-top:40px}
.bcthome{fill:#f36b21}
.bcthome:hover{fill:#4d4d4d}
.indent{padding-left:25px}
.outdent{position:relative;margin-left:-25px}
.circlethumb{position:relative;border:1px solid #131313;border-radius:50%;background-position:center;background-repeat:repeat;background-size:cover}
.pulledquote_right,.pulledquote_left{display:block;float:left;width:275px;margin:2px 15px 10px 0}
.pulledquote_right{float:right;text-align:right;margin:2px 0 10px 15px}
.pulledquote_right .circlethumb{width:92%;left:8%}
.pulledquote_left .circlethumb{width:92%}

.hbar{position:relative;padding-top:5px;margin-bottom:4px;border-bottom:1px solid #ccc}
.contentbox{position:relative;padding:15px;box-sizing:border-box;border:1px solid rgba(0,0,0,.08);border-radius:2px;background-color:#fff}

.LearnList li, .CopyList li{padding-top:20px}
.CopyList li:first-child{padding-top:30px}

.code{font-size:15px;background-color:#272822;border-radius:2px;padding:15px;box-sizing:border-box;color:#e4e3e3;font-family:"Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;}
.code a,.greencode{color:#c44f0f !important;text-decoration:none !important}

.DivThumb{border:rgba(19,19,19,0.8);border-radius:2px}

.TinyThumb{height:110px;border:1px solid #f36b21;cursor:pointer}
.TinyThumb:hover{border:1px solid #4d4d4e;opacity:.8}

.VidThumb{height:280px;border-radius:4px}
.VidThumbMenu{height:32px;right:0;top:5px}

.MOListText{position:relative;padding-top:30px;padding-left:120px;box-sizing:border-box}
.MOListThumb{position:absolute;width:100px;height:65px;left:0;top:0;border-radius:2px;border:1px solid #0e0e0e;background-position:center;background-size:cover;background-repeat:no-repeat}
.MOListText h2,.MOListText p{padding-top:0}

#MachineTranslated{text-align:center;padding:7px;background:#f2f2f2;border-radius:5px}

@media all and (max-width:700px){
	.MOListText{padding-left:85px}
	.MOListThumb{width:70px;height:47px}
	#stories__list,#video__list,#gallery__list{padding:0 12px}
	.VidThumb{height:150px}
}

.articletile{padding:1px 2px 5px 2px;box-sizing:border-box;background-color:#f2f2f2;border:1px solid rgba(255,255,255,0.1)}
.articletile:hover{border:1px solid #F36B21}
.article_newwindow{position:absolute;z-index:2;width:40px;height:40px;left:100%;top:0;margin-left:-40px;fill:#fff;-webkit-filter:drop-shadow(-2px 2px 3px rgba(0,0,0,.15));filter:drop-shadow(-2px 2px 3px rgba(0,0,0,.15))}
.article_thumbnail,.storytop_thumbnail{position:relative;background-repeat:no-repeat;background-position:center;background-size:cover;box-sizing:border-box;border:3px solid #fff}
.article_thumbnail{height:180px !important}
.storytop_thumbnail,.storytop_thumbnail{height:100px !important}
.article_thumbnailbottom{position:absolute;width:100%;height:40px;top:100%;margin-top:-39px;fill:#fff}
.article_thumbnailscreen{position:absolute;width:100%;height:100%;top:0;background:-moz-linear-gradient(top, rgba(0,0,0,0.05) 75%,rgba(0,0,0,0.1) 90%,rgba(0,0,0,0.18) 100%);background:-webkit-linear-gradient(top, rgba(0,0,0,0.05) 75%,rgba(0,0,0,0.1) 90%,rgba(0,0,0,0.18) 100%);background:linear-gradient(to bottom, rgba(0,0,0,0.05) 75%,rgba(0,0,0,0.1) 90%,rgba(0,0,0,0.18) 100%)}
.article_thumbnailscreen_highlight{background-color:rgba(243,107,33,0.5) !important}
.article_caption,.article_headline{text-align:center;padding:0 6px 2px 6px;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
.article_headline{position:relative;padding-top:8px}

#AboutRoadmap ul li{padding-top:8px}
.donationbox{padding:8px;box-sizing:border-box}
#donationqr{position:relative;width:175px;left:50%;margin-left:-87.5px}
#donationaddress{border:0;width:100%;font-family:Courier,'Courier New',monospace;background:transparent}
#copydonationaddress{display:block;position:relative;border:0;width:100%;background-color:#f36b21;border-radius:3px;color:#fff;cursor:pointer}
#copydonationaddress:hover{background-color:#4d4d4e}
.aboutarrowtitle{position:absolute;z-index:3;left:-30px;top:15px;color:#f2f2f2}
.aboutarrowgrp{position:relative;height:50px;width:calc(100% - 90px);left:0;margin-left:80px}
.aboutarrowtail{position:absolute;width:100.7px;height:116px;left:0;margin-left:-95px;top:0;z-index:1}
.aboutarrowpoint{position:absolute;width:44px;height:88px;left:100%;top:50%;margin-top:-44px;z-index:2}

/* = Konferenco
----------------------------*/
.SpeakerTile{padding:0 10px 0 10px;box-sizing:border-box}
.SpeakerTile .SpeakerImgL,.SpeakerTile .SpeakerImgR{position:relative;width:90%;left:5%;border:1px solid #000;border-width:1px 0 1px 0;border-radius:2px;box-sizing:border-box}
.SpeakerTile .SpeakerLbl{display:inline-block;width:20%}
.SpeakerTile .SpeakerTitleL,.SpeakerTile .SpeakerTitleR{position:relative;width:90%;left:5%;margin-top:5px;min-height:65px;box-sizing:border-box;line-height:1em}

/* = Calendar
----------------------------*/
.MOCalIco{position:relative;display:inline-block;width:8px;height:11px}
.MOCalBirthday{position:absolute;z-index:1;width:4px;height:13px;top:0;margin-top:-2px;fill:#333}
.MOCalLink{border-radius:50%;padding:3px;vertical-align:middle}
.CalMenuSelect{height:45px;border:0;width:auto;margin-right:11px;font-family:"BoldItalic",serif;font-size:23px;line-height:23px;color:#0a0a0a;letter-spacing:-.4px}
.CalMenuSelect option{font-size:17px;line-height:17px}
.CalDay__Events__Event{border-radius:2px;color:#131313}
.CalDay__Events__Event{background-color:rgba(76,76,76,0.05)}
.CalDay__Events__Event:hover{background-color:rgba(76,76,76,0.15)}
.CalDay__Events__Event:hover{opacity:0.9}
.CalDay__Events__EventLbl .DivThumb{display:inline-block;margin-right:3px;width:16px;height:11px}

#MoneroCalendar{min-height:500px}
#MOCalNav{position:relative;padding:20px 0;box-sizing:border-box;text-align:right;min-height:70px}
#MoneroCalendar_API{position:relative;display:block;margin-top:3px}
#MOCalUTC,#MOCalUTCLbl{position:absolute;left:0;top:22px}
#MOCalUTC svg .C4fl{fill:#4d4d4d}
#MOCalUTC svg .C5fl{fill:#f36b21}
#MOCalUTCLbl{left:33px;top:33px}
#CalLoading{width:30px;height:45px;vertical-align:top;padding:11px 1px;box-sizing:border-box}

#MOCalList{position:relative;margin-top:-15px;padding-bottom:20px}
#MOCalList .Col2 h2:first-child{margin-top:15px}
#MOCalList .CalListDay:hover{background-color:#f5f5f5}
.CalListEvt{position:relative;margin-top:10px;padding:3px 0 1px 0}
.CalListEvt:hover{background-color:#ebebeb}
.CalListTime,.CalListDesc,.CalListThumb{position:relative;display:table-cell;vertical-align:top;box-sizing:border-box}
.CalListTime{width:85px;text-align:center}
.CalListDownload{line-height:10px}
.CalListThumb{width:40px;text-align:center;padding:5px}
.CalListThumb .DivThumb{height:18px}
.CalListDesc{width:calc(100% - 125px)}

#MOCalSwitchView{position:absolute;z-index:2;width:32px;height:32px;left:50%;top:50%;margin-left:-16px;margin-top:-16px;background-color:#f36b21;fill:#f2f2f2;cursor:pointer;border-radius:50%;padding:8px;box-sizing:border-box}
#MOCalSwitchView:hover{background-color:#4d4d4d}

.FlowC{position:relative}
.FlowC td{width:calc(20% - 30px);text-align:center;padding:7px 0}
.FlowC_ColA{width:50px !important;padding:0 !important;min-height:15px}
.FlowC .FlowC_Box{border:1px solid #4d4d4d;padding:4px;border-radius:1px}

.FlowC_Arrow, .FlowC_ArrowInner{position:relative;width:100%;height:100%}
.FlowC_ArrowInner{position:absolute;height:9px;top:50%;margin-top:-4.5px}

.FlowC_DiagUp, .FlowC_DiagDown{width:50px;height:50px}

.FlowC_Shaft{position:absolute;width:calc(100% - 4px);height:3px;top:3px;background-color:#4d4d4d}
.FlowC_Head{position:absolute;z-index:1;width:9px;height:9px;right:0;top:0;fill:#4d4d4d}


@media all and (max-width:1400px){
	h1,.txt_headline,.pulledquote_right,.pulledquote_left{font-size:27px;line-height:30px}
	h2,.txt_subhead{font-size:25px;line-height:28px}
	header.PageStyle{height:650px}
}
@media all and (max-width:1200px){
	p,section li,.txt_copytext{font-size:20px;line-height:28px}
	h1,.txt_headline,.pulledquote_right,.pulledquote_left{font-size:26px;line-height:29px}
	h2,.txt_subhead{font-size:24px;line-height:27px}
	#LeadHeadline h1{font-size:32px;line-height:36px}
	.article_thumbnail{height:160px !important}
}
@media all and (max-width:900px){
	p,section li,.txt_copytext{font-size:19px;line-height:27px}
	h1,.txt_headline,.pulledquote_right,.pulledquote_left{font-size:25px;line-height:28px}
	h2,.txt_subhead{font-size:23px;line-height:26px}
	.txt_smalltext{font-size:14px;line-height:16px}
	#LeadHeadline{max-width:90%}
	#PhotoCaption, #HeadCaption{padding:40px 10% 20px 10%;font-size:.75em;line-height:1.1em;text-align:center}
	#LeadHeadline{max-width:85%}
	#LeadHeadline h1{font-size:30px;line-height:34px}
	.article_thumbnail{height:140px !important}
	span.opt{display:none}
}
@media all and (max-width:750px){
	footer{margin-top:55px}
	p,section li,.txt_copytext{font-size:18px;line-height:26px}
	p.article_caption{font-size:15px;line-height:19px}
	h1,.txt_headline,.pulledquote_right,.pulledquote_left{font-size:24px;line-height:27px}
	h2,.txt_subhead{font-size:21px;line-height:24px}
	.MenuS{font-size:10px;line-height:10px}
	.MenuM,.merchmenu{font-size:12px;line-height:12px}
	.MenuL,.aboutarrowtitle{font-size:14px;line-height:14px}
	#LeadHeadline h1{font-size:28px;line-height:32px}
	.txt_lbl{font-size:11px;line-height:11px}
	.outdent{margin-left:-20px}
	.contentbox{padding:10px}
	.pulledquote_right,.pulledquote_left{width:175px} 
	.resourcelogo{width:30px;height:30px;padding:7px}
}
@media all and (max-width:700px){
	.CalMenuSelect{height:39px;font-size:19px;line-height:19px}
	.CalMenuSelect option{font-size:15px;line-height:15px}
	#CalLoading{height:39px;padding:9px 1px}
	#MOCalUTC,#MOCalUTCLbl{top:18px}
	#MOCalUTCLbl{top:30px}
	#MOCalFilter{max-width:90px}
}
@media all and (max-width:550px){
	footer{margin-top:45px}
	p,section li,.txt_copytext{font-size:17px;line-height:23px}
	p.article_caption{font-size:14px;line-height:18px}
	h1,.txt_headline,.pulledquote_right,.pulledquote_left{font-size:22px;line-height:25px}
	h2,.txt_subhead{font-size:18px;line-height:21px}
	.txt_smalltext{font-size:13px;line-height:15px}
	#LeadHeadline{max-width:95%}
	#LeadHeadline h1{font-size:26px;line-height:30px}
	.txt_lbl{font-size:10px;line-height:10px}
	.outdent{margin-left:-15px}
	.contentbox{padding:8px}
	.pulledquote_right,.pulledquote_left{width:150px}
	#MastLogo{width:117px;height:10px;top:11px}
	#MastLang{margin-left:124px}
	.CalMenuSelect{font-size:18px;line-height:18px}
	.CalMenuSelect option{font-size:14px;line-height:14px}
}
@media all and (max-width:450px){
	h1,.txt_headline,.pulledquote_right,.pulledquote_left{font-size:20px;line-height:23px}
	h2,.txt_subhead{font-size:16px;line-height:19px}
	p,section li,.txt_copytext{font-size:16px;line-height:22px}
	#LeadHeadline h1{font-size:24px;line-height:28px}
	.CalMenuSelect{height:38px;font-size:17px;line-height:17px}
	.CalMenuSelect option{font-size:13px;line-height:13px}
}
@media all and (max-width:370px){
	#MastLogo{width:105px;height:9px;top:12px}
	#MastLang{margin-left:111px}	
}