#Benefits{padding:55px 5% 15px 5%;background-color:#f8f8f8} 
#BenefitBody .Col3{padding:9px}
#BenefitBody{padding-top:10px}
.BenefitsInner{padding:15px;-webkit-box-shadow: 0px 0px 23px -7px rgba(0,0,0,0.3);-moz-box-shadow: 0px 0px 23px -7px rgba(0,0,0,0.3);box-shadow: 0px 0px 23px -7px rgba(0,0,0,0.3);}
.BenefitsInner b{display:block;color:#f36b21;padding:2px 0 5px 29px;font-family:Helvetica,Arial,sans-serif;font-size:17px;font-weight:bold}
.BenefitSpriteBox{position:absolute;width:22px;height:22px;overflow:hidden}
.BenefitSprite{position:relative;width:2300%;height:100%;background:transparent url(../../img/monero-outreach/specials/benefits-sprite.jpg) no-repeat top left;background-size:contain}
#BenefitLogo{height:85px;padding:15px 0}
#BenefitHeadline{font-size:17px;color:#4d4d4d}
#KnowMonero{font-size:30px;color:#f36b21;font-weight:bold;letter-spacing:-.5px}

@media all and (max-width:950px){
	#BenefitBody .Col3{width:50%;padding:8px}
	#BenefitHeadline{font-size:16px}
	#KnowMonero{font-size:28px}
}
@media all and (max-width:600px){
	#BenefitBody .Col3{width:100%;padding:6px}
	#BenefitHeadline{font-size:14px}
	#KnowMonero{font-size:25px}
}
@media all and (max-width:500px){
	#BenefitHeadline{font-size:13px}
	#KnowMonero{font-size:20px}
}

#ALayer1,#ALayer2,#ALayer3{position:absolute;width:100%;height:100%;top:0;z-index:1;overflow:hidden}
#ALayer2{z-index:2}
#ALayer3{z-index:3}

.ALeft,.ACenter,.ARight{position:absolute;width:13%;height:100%;top:0;z-index:1}
.ACenter{width:74%;left:13%;z-index:2;background-color:rgba(236, 216, 101, 0.06);}
.ARight{right:0}
.ALeft,.ARight{background-color:rgba(74, 151, 202, 0.88);display:table}
.CenterImg{position:absolute;width:100%;height:125%;top:0;background-position:center;background-size:contain;background-repeat:no-repeat;opacity:0.98;}

.AInner{padding:0 14%;font-family:Arial, Helvetica, sans-serif;font-size:11px}
.ARight .AInner{text-align:right}
.ATxt{position:relative;width:80%;left:10%;font-family:Arial, Helvetica, sans-serif;font-size:11px;padding-top:15px}

#Space{position:absolute;width:100%;height:100%;top:0;z-index:1;overflow:hidden}
#SpaceText{position:absolute;width:65%;height:100%;left:32.5%;font-family:"Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;color:#dad9cb;font-size:13px}
#SpaceText b{font-family:"Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;color:#f18f0e;text-shadow: 2px 2px 9px rgba(181,115,29,0.8);}

.SpaceGroup{position:relative;width:44ch;height:100%;left:50%;margin-left:-22ch;padding-top:50px;box-sizing:border-box;text-align:center}

.SpaceStage1{padding:0 10ch}
.SpaceStage2{padding:0 6ch}
.SpaceNext:hover{cursor:pointer}
.SpaceNext b{pointer-events:none}

@media all and (max-width:1400px){
	#SpaceText{font-size:12.5px}
	.CenterImg{height:120%}
	.ALeft,.ARight{width:15%}
	.ACenter{width:70%;left:15%}
	.AInner{padding:0 12%;font-size:10.75px}
}
@media all and (max-width:1200px){
	#SpaceText{font-size:12px}
	.CenterImg{height:115%}
	.ALeft,.ARight{width:20%}
	.ACenter{width:60%;left:20%}
	.AInner{padding:0 12%;font-size:10.75px}
}
@media all and (max-width:1100px){
	#SpaceText{font-size:11.75px}
}
@media all and (max-width:1000px){
	#SpaceText{font-size:11.5px}
	.CenterImg{height:110%}
	.ALeft,.ARight{width:22.5%}
	.ACenter{width:55%;left:22.5%}
	.AInner{padding:0 10%;font-size:10.5px}
}
@media all and (max-width:900px){
	#SpaceText{font-size:11px}
	.ALeft,.ARight{width:25%}
	.ACenter{width:50%;left:25%}
	.AInner{padding:0 8%;font-size:10.25px}
}
@media all and (max-width:800px){
	#SpaceText{font-size:10.5px}
}
@media all and (max-width:600px){
	#SpaceText{font-size:10px}
	.ALeft,.ARight{width:30%}
	.ACenter{width:40%;left:30%}
	.AInner{font-size:10px}
}
@media all and (max-width:500px){
	#SpaceText{font-size:9.5px}
}